# Python virtual environments
mitacs/
.venv/
venv/
env/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / OS files
.vscode/
.idea/
.DS_Store
